p, h1, h2
{
    font-family: sans-serif;
    font-weight: 300;
    font-variant-position: super;
    color: rgb(240, 240, 248);
}
/* Navigation
---------------------------------------------------------------- */

.topnav {
    overflow: hidden;
    background-color: rgb(167, 157, 157);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #040faa;
    color: white;
  }

/*General Styles 
--------------------------------------------------------*/

body{
    color: #343434;
}  
a{
  color: #fefefe;
}
a.hover{
  text-decoration: none;
}

/* Profile
-----------------------------------------------------------*/
.main-header{
    background: #2f3061;
    color: #ffe66d;
}




/* Projects
-----------------------------------------------------------*/
.projects {
  background: #f7fff7;
}

.projects a {
  color: #f7fff7;
  background: #2f3061;
}

.projects h2, p{
  color: black;
}


/*Work Experience 
--------------------------------------------------------*/

/*Contact Info 
--------------------------------------------------------*/
.footer {
    background: #343434
}

